In [43]:
# head(iris)
# tail(iris)
# str(iris)
# iris[1:10,] # 특수한 행을 보고싶을 때 .
unique(iris$Species) # Species 종류를 다 파악할수 있음. 
samp <- sample(1:150,10)
iris[samp,]
# 원본 데이터를  통계에서는 모집단이라고한다. 모집단이 너무많을 떄 몇 퍼센트만 가지고 분석할때 샘플링이라고 한다. 샘플링한 데이터가 모집단의 특징을 그대로 담고있어야 샘플링한것이다. 샘플링은 뽑기가 아니다. 
# target 이 있고 나머지가 feature 이다. 아이리스는 3종류가 있는데 다 50개씩 있다.  10,10,10 개되어야 샘플링이 잘된것이다. 타겟을 맞추기위한 feature 가 무엇이냐를 파악해야한다.

[1] setosa     versicolor virginica
Levels: setosa versicolor virginica

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
92  6.1          3.0         4.6          1.4         versicolor
53  6.9          3.1         4.9          1.5         versicolor
130 7.2          3.0         5.8          1.6         virginica
99  5.1          2.5         3.0          1.1         versicolor
107 4.9          2.5         4.5          1.7         virginica
134 6.3          2.8         5.1          1.5         virginica
12  4.8          3.4         1.6          0.2         setosa
42  4.5          2.3         1.3          0.3         setosa
121 6.9          3.2         5.7          2.3         virginica
34  5.5          4.2         1.4          0.2         setosa

In [45]:
iris[seq(10,150,10),]

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
10  4.9          3.1         1.5          0.1         setosa
20  5.1          3.8         1.5          0.3         setosa
30  4.7          3.2         1.6          0.2         setosa
40  5.1          3.4         1.5          0.2         setosa
50  5.0          3.3         1.4          0.2         setosa
60  5.2          2.7         3.9          1.4         versicolor
70  5.6          2.5         3.9          1.1         versicolor
80  5.7          2.6         3.5          1.0         versicolor
90  5.5          2.5         4.0          1.3         versicolor
100 5.7          2.8         4.1          1.3         versicolor
110 7.2          3.6         6.1          2.5         virginica
120 6.0          2.2         5.0          1.5         virginica
130 7.2          3.0         5.8          1.6         virginica
140 6.9          3.1         5.4          2.1         virginica
150 5.9          3.0         5.1          1.8         virginica

In [58]:
# DataFrame 의 Column 수
length(iris) # data frame 은 vector  집합이기 때문에 column 수가 나온다. 
ncol(iris)
# DataFrame의 Row 수
nrow(iris)
# iris의 Sepal.Length 의 최대값고 ㅏ최소값의 차이가 평균보다 큰지?
 sLength <- iris$Sepal.Length; sLength
 abs(min(sLength)- max(sLength)) ;mean(sLength) # 작음.

[1] 5

[1] 5

[1] 150

  [1] 5.1 4.9 4.7 4.6 5.0 5.4 4.6 5.0 4.4 4.9 5.4 4.8 4.8 4.3 5.8 5.7 5.4 5.1
 [19] 5.7 5.1 5.4 5.1 4.6 5.1 4.8 5.0 5.0 5.2 5.2 4.7 4.8 5.4 5.2 5.5 4.9 5.0
 [37] 5.5 4.9 4.4 5.1 5.0 4.5 4.4 5.0 5.1 4.8 5.1 4.6 5.3 5.0 7.0 6.4 6.9 5.5
 [55] 6.5 5.7 6.3 4.9 6.6 5.2 5.0 5.9 6.0 6.1 5.6 6.7 5.6 5.8 6.2 5.6 5.9 6.1
 [73] 6.3 6.1 6.4 6.6 6.8 6.7 6.0 5.7 5.5 5.5 5.8 6.0 5.4 6.0 6.7 6.3 5.6 5.5
 [91] 5.5 6.1 5.8 5.0 5.6 5.7 5.7 6.2 5.1 5.7 6.3 5.8 7.1 6.3 6.5 7.6 4.9 7.3
[109] 6.7 7.2 6.5 6.4 6.8 5.7 5.8 6.4 6.5 7.7 7.7 6.0 6.9 5.6 7.7 6.3 6.7 7.2
[127] 6.2 6.1 6.4 7.2 7.4 7.9 6.4 6.3 6.1 7.7 6.3 6.4 6.0 6.9 6.7 6.9 5.8 6.8
[145] 6.7 6.7 6.3 6.5 6.2 5.9

[1] 3.6

[1] 5.843333

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa

In [66]:
# iris 에서 1~10 까지의 데이터중 SepalLength 와 Sepal.Width 만 출력하기
iris[1:10,1:2]
# sepal length 와 petal length 만 보게 출력
iris[1:10,c(1,3)]
iris[1:10, c("Sepal.Length","Sepal.Width")] # column 이름으로 벡터화 시켜서 쓸수 있다. 
colnames(iris) # column name 뽑기 로 복붙 해서 찾아라.. <-로 바꿀수도 있다. 
rownames(iris)

   Sepal.Length Sepal.Width
1  5.1          3.5
2  4.9          3.0
3  4.7          3.2
4  4.6          3.1
5  5.0          3.6
6  5.4          3.9
7  4.6          3.4
8  5.0          3.4
9  4.4          2.9
10 4.9          3.1

   Sepal.Length Petal.Length
1  5.1          1.4
2  4.9          1.4
3  4.7          1.3
4  4.6          1.5
5  5.0          1.4
6  5.4          1.7
7  4.6          1.4
8  5.0          1.5
9  4.4          1.4
10 4.9          1.5

   Sepal.Length Sepal.Width
1  5.1          3.5
2  4.9          3.0
3  4.7          3.2
4  4.6          3.1
5  5.0          3.6
6  5.4          3.9
7  4.6          3.4
8  5.0          3.4
9  4.4          2.9
10 4.9          3.1

[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"  "Species"

  [1] "1"   "2"   "3"   "4"   "5"   "6"   "7"   "8"   "9"   "10"  "11"  "12"
 [13] "13"  "14"  "15"  "16"  "17"  "18"  "19"  "20"  "21"  "22"  "23"  "24"
 [25] "25"  "26"  "27"  "28"  "29"  "30"  "31"  "32"  "33"  "34"  "35"  "36"
 [37] "37"  "38"  "39"  "40"  "41"  "42"  "43"  "44"  "45"  "46"  "47"  "48"
 [49] "49"  "50"  "51"  "52"  "53"  "54"  "55"  "56"  "57"  "58"  "59"  "60"
 [61] "61"  "62"  "63"  "64"  "65"  "66"  "67"  "68"  "69"  "70"  "71"  "72"
 [73] "73"  "74"  "75"  "76"  "77"  "78"  "79"  "80"  "81"  "82"  "83"  "84"
 [85] "85"  "86"  "87"  "88"  "89"  "90"  "91"  "92"  "93"  "94"  "95"  "96"
 [97] "97"  "98"  "99"  "100" "101" "102" "103" "104" "105" "106" "107" "108"
[109] "109" "110" "111" "112" "113" "114" "115" "116" "117" "118" "119" "120"
[121] "121" "122" "123" "124" "125" "126" "127" "128" "129" "130" "131" "132"
[133] "133" "134" "135" "136" "137" "138" "139" "140" "141" "142" "143" "144"
[145] "145" "146" "147" "148" "149" "150"

In [103]:
Sys.setlocale(category = "LC_ALL", locale = "ko_KR.UTF-8")
# iris 의 Sepal.Length 를 iSL 이라는 벡터를 생성하고 이중 1,2 번 데이터를 삭제하고 완료하기
iSL <- iris$Sepal.Length;
cat(">> Before isL length :  ",length(iSL));
cat(">> 첫번째, 두번째 원소 : ",iSL[c(1,2)], '\n');
cat(">> 삭제 후 iSL->",iSL[-c(1,2)], '\n' );
isL<- iSL[-c(1,2)];
cat(">> After isL length :  ",length(isL));

[1] "ko_KR.UTF-8/ko_KR.UTF-8/ko_KR.UTF-8/C/ko_KR.UTF-8/C"

>> Before isL length :   150>> 첫번째, 두번째 원소 :  5.1 4.9
>> 삭제 후 iSL-> 4.7 4.6 5 5.4 4.6 5 4.4 4.9 5.4 4.8 4.8 4.3 5.8 5.7 5.4 5.1 5.7 5.1 5.4 5.1 4.6 5.1 4.8 5 5 5.2 5.2 4.7 4.8 5.4 5.2 5.5 4.9 5 5.5 4.9 4.4 5.1 5 4.5 4.4 5 5.1 4.8 5.1 4.6 5.3 5 7 6.4 6.9 5.5 6.5 5.7 6.3 4.9 6.6 5.2 5 5.9 6 6.1 5.6 6.7 5.6 5.8 6.2 5.6 5.9 6.1 6.3 6.1 6.4 6.6 6.8 6.7 6 5.7 5.5 5.5 5.8 6 5.4 6 6.7 6.3 5.6 5.5 5.5 6.1 5.8 5 5.6 5.7 5.7 6.2 5.1 5.7 6.3 5.8 7.1 6.3 6.5 7.6 4.9 7.3 6.7 7.2 6.5 6.4 6.8 5.7 5.8 6.4 6.5 7.7 7.7 6 6.9 5.6 7.7 6.3 6.7 7.2 6.2 6.1 6.4 7.2 7.4 7.9 6.4 6.3 6.1 7.7 6.3 6.4 6 6.9 6.7 6.9 5.8 6.8 6.7 6.7 6.3 6.5 6.2 5.9
>> After isL length :   148

In [108]:
# 기본 통계량  head,tail,str, summary 순으로 보고 시작. 
summary(iris)
summary(iris$Sepal.Length)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  4.300   5.100   5.800   5.843   6.400   7.900

In [111]:
# 중앙값과 평균
num1 <- c(1,1,1,1,5)
mean(num1)
median(num1) # 중앙값과 평균값의 차이가 데이터 크기(간격)에 맞먹을 때 5 는 이상치(outlier) 이다. 결측치 (missing value) 
## 대략의 데이터크기는 정규분포 형식이라면 한눈에 보인다. ! 1234 는 정규분포가 아니다.

[1] 1.8

[1] 1

In [114]:
# factor type 인 Species 에서 문자와 숫자로 각각 출력
as.numeric(iris$Species)
as.character(iris$Species)

  [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [38] 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 [75] 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 3 3
[112] 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
[149] 3 3

  [1] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
  [6] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [11] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [16] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [21] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [26] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [31] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [36] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [41] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [46] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [51] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [56] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [61] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [66] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [71] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [76] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [81] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [86] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [91] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [96] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
[101] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[106] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[111] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[116] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[121] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[126] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[131] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[136] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[141] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[146] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"

In [120]:
# 벡터 계산 
x <- c(3,6,9,12,15)
x+c(1) # vector 의 reculsive 기능 
x+c(1,2,3,4)

[1]  4  7 10 13 16

Warning message in x + c(1, 2, 3, 4):
“두 객체의 길이가 서로 배수관계에 있지 않습니다”

[1]  4  8 12 16 16

In [124]:
## 벡터 합치기
x <-  c(3,5,6,12,15)
y <- c(1,2,3,4,5)
z <- append(x,y)
z1 <- c(x,y)
z1; z

 [1]  3  5  6 12 15  1  2  3  4  5

 [1]  3  5  6 12 15  1  2  3  4  5

In [149]:
# iris의 Sepal.Length 의 중복되지 않은 갯수의 percent 구하기
iSL <- iris$Sepal.Length
uniq_isL <- unique(iSL)
cat( "전체 데이터 수 : ", length(iSL),'\n')
cat( "중복되지 않는 데이터 수: ", length(uniq_isL),'\n')
rate = length(uniq_isL)/length(iSL)
percent =100*rate
cat("중복되지 않은 갯수의 Percent:", percent,'\n')
cat("중복된 갯수의 percent : ", 100-percent)
## 중복된 개수를 찾아야함. 
x <- c(1,1,1,1,2,2,2,3,4)
# 중복된 개수는? 
uniq_x <- unique(x); 
length(x)- length(uniq_x);

전체 데이터 수 :  150
중복되지 않는 데이터 수:  35
중복되지 않은 갯수의 Percent: 23.33333
중복된 갯수의 percent :  76.66667

[1] 5

# 문자열 관련 함수

In [161]:
x<- c('a','b','c','d','e')
paste(x[2],x[1])
iS<- iris$Species
iris$Species[c(1,51,101)]
result<-paste(iS[1],":",iS[51],":",iS[101])
result

[1] "b a"

[1] setosa     versicolor virginica
Levels: setosa versicolor virginica

[1] "setosa : versicolor : virginica"

In [164]:
# 출력
print("a")
cat("a","b","c")

[1] "a"
a b c

In [174]:
cat( "국어\t", "영어\t",  "수학\t", "\n" )
cat( 90,"\t", 80,"\t",  70,"\t", "\n"  )
cat( 90,"\t", 80,"\t",  70,"\t" )

국어	 영어	 수학
90 	 80 	 70
90 	 80 	 70

In [177]:
paste("010", "1111","2222",sep="-") # seperator 의 기본값은 한칸 띄기다.

[1] "010-1111-2222"

In [182]:
# 문자열 추출하기 
str01 <- "abcdefghijklmnop"
substring(str01,2,5)
str02 <- "가나다라마바사"
substring(str02,2,5)

[1] "bcde"

[1] "나다라마"

# 행렬(matrix)
- 2차원 자료를 저장하는 자료형 
- 데이터 형태가 모두 일치 되어야 구성

In [189]:
# 벡터를 이용하여 행렬 만들기
vec1 <- c(1,2,3)
vec2 <- c(4,5,6)
vec3 <- c(7,8,9)
# rbind : row bind
mat1 <- rbind(vec1,vec2,vec3)

# cbind : column bind
mat2 <- cbind(vec1,vec2,vec3)
mat2

     vec1 vec2 vec3
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [218]:
# iris 의 1~5번 데이터만 추출하기
irisHead <- iris[1:5,]
# 추출한 데이터의 row 에 1,1,1,1, setosa 추가하기 
#irisHead
irisHead <- rbind(irisHead,c(1,1,1,1,'setosa'))
#irisHead
colnames(irisHead)
irisHead<-cbind(irisHead,abc=rep(2, each=nrow(irisHead)))
names(irisHead[length(irisHead)])
irisHead$Sepal.Length <- as.numeric(irisHead$Sepal.Length);
irisHead$Sepal.Width <- as.numeric(irisHead$Sepal.Width);
irisHead$Petal.Length <- as.numeric(irisHead$Petal.Length);
irisHead$Petal.Width <- as.numeric(irisHead$Petal.Width);irisHead

[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"  "Species"

[1] "abc"

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species abc
1 5.1          3.5         1.4          0.2         setosa  2
2 4.9          3.0         1.4          0.2         setosa  2
3 4.7          3.2         1.3          0.2         setosa  2
4 4.6          3.1         1.5          0.2         setosa  2
5 5.0          3.6         1.4          0.2         setosa  2
6 1.0          1.0         1.0          1.0         setosa  2

In [226]:
irisHead <- head(iris,5)
irisHead
Length <- irisHead$Sepal.Length +irisHead$Petal.Length; Length
irisHead <-cbind(irisHead,Length); irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

[1] 6.5 6.3 6.0 6.1 6.4

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species Length
1 5.1          3.5         1.4          0.2         setosa  6.5
2 4.9          3.0         1.4          0.2         setosa  6.3
3 4.7          3.2         1.3          0.2         setosa  6.0
4 4.6          3.1         1.5          0.2         setosa  6.1
5 5.0          3.6         1.4          0.2         setosa  6.4

In [235]:
irisHead <- head(iris,5) # $ 는 생성자이다. 
irisHead$Length <- irisHead$Sepal.Length +irisHead$Petal.Length;
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species Length
1 5.1          3.5         1.4          0.2         setosa  6.5
2 4.9          3.0         1.4          0.2         setosa  6.3
3 4.7          3.2         1.3          0.2         setosa  6.0
4 4.6          3.1         1.5          0.2         setosa  6.1
5 5.0          3.6         1.4          0.2         setosa  6.4

In [238]:
sl <- iris$Sepal.Length
sw <- iris$Sepal.Width # 벡터는 지가 알아서 반복한다. 이것이 리스트와의 차이이다. 
irisM <- cbind(sl,sw)
head(irisM) # cbind 로 만드는것은 matrix 이다 . DataFrame 이 아님
irisD <- as.data.frame(irisM); irisD

     sl  sw
[1,] 5.1 3.5
[2,] 4.9 3.0
[3,] 4.7 3.2
[4,] 4.6 3.1
[5,] 5.0 3.6
[6,] 5.4 3.9

    sl  sw
1   5.1 3.5
2   4.9 3.0
3   4.7 3.2
4   4.6 3.1
5   5.0 3.6
6   5.4 3.9
7   4.6 3.4
8   5.0 3.4
9   4.4 2.9
10  4.9 3.1
11  5.4 3.7
12  4.8 3.4
13  4.8 3.0
14  4.3 3.0
15  5.8 4.0
16  5.7 4.4
17  5.4 3.9
18  5.1 3.5
19  5.7 3.8
20  5.1 3.8
21  5.4 3.4
22  5.1 3.7
23  4.6 3.6
24  5.1 3.3
25  4.8 3.4
26  5.0 3.0
27  5.0 3.4
28  5.2 3.5
29  5.2 3.4
30  4.7 3.2
... ... ...
121 6.9 3.2
122 5.6 2.8
123 7.7 2.8
124 6.3 2.7
125 6.7 3.3
126 7.2 3.2
127 6.2 2.8
128 6.1 3.0
129 6.4 2.8
130 7.2 3.0
131 7.4 2.8
132 7.9 3.8
133 6.4 2.8
134 6.3 2.8
135 6.1 2.6
136 7.7 3.0
137 6.3 3.4
138 6.4 3.1
139 6.0 3.0
140 6.9 3.1
141 6.7 3.1
142 6.9 3.1
143 5.8 2.7
144 6.8 3.2
145 6.7 3.3
146 6.7 3.0
147 6.3 2.5
148 6.5 3.0
149 6.2 3.4
150 5.9 3.0

In [241]:
str(irisD)
str(irisM)

'data.frame':	150 obs. of  2 variables:
 $ sl: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ sw: num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 num [1:150, 1:2] 5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 - attr(*, "dimnames")=List of 2
  ..$ : NULL
  ..$ : chr [1:2] "sl" "sw"

In [251]:
mat1
colnames(mat1) <- c("A","B","C")
mat1
mat1D <- as.data.frame(mat1)
mat1D
class(mat1D)

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

[1] "data.frame"

In [256]:
mat2
rownames(mat2) <- 1:3
mat2D <-as.data.frame(mat2)
class(mat2D)

  vec1 vec2 vec3
1 1    4    7
2 2    5    8
3 3    6    9

[1] "data.frame"

In [263]:
mat1D
mat2D
# mat1D와 ㅡㅁ를 하나의 DataSet으로 만들기
# column 이름이 다르면 Rbind 가 안됨 에러발생. -> colnames로 이름을 맞춘다. 
colnames(mat2D)<- colnames(mat1D)
rbind(mat1D,mat2D)

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

  vec1 vec2 vec3
1 1    4    7
2 2    5    8
3 3    6    9

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9
1    1 4 7
2    2 5 8
3    3 6 9

# 데이터프레임
- 다양한 자료형으로 구성된 2차원 형태의 데이터 구조

In [271]:
# 벡터로 데이터 프레임 만들기 ai 가 공부한 타입으로 물어봐야 알수있다. 
no <- 1:4
name <- c("Apple", "Banana", "Peach","Berry")
price <- c(500,400,300,200)
qty <- c(5,2,7,9)
fruit <- data.frame(번호 =no,상품명=name,가격=price,재고량=qty)
fruit
str(fruit)

  번호 상품명 가격 재고량
1 1    Apple  500  5
2 2    Banana 400  2
3 3    Peach  300  7
4 4    Berry  200  9

'data.frame':	4 obs. of  4 variables:
 $ 번호  : int  1 2 3 4
 $ 상품명: chr  "Apple" "Banana" "Peach" "Berry"
 $ 가격  : num  500 400 300 200
 $ 재고량: num  5 2 7 9

In [275]:
# fruit 에서 상품명과 재고량만 보기
fruit[c("상품명","재고량")]

  상품명 재고량
1 Apple  5
2 Banana 2
3 Peach  7
4 Berry  9

In [277]:
# fruit 에서 번호를 제외한 모든 내용 보기
fruit[,2:length(fruit)]

  상품명 가격 재고량
1 Apple  500  5
2 Banana 400  2
3 Peach  300  7
4 Berry  200  9

In [287]:
# fruit에서 2,4번 행을 제외한 상품명, 금액, 재고량 만 출력하기 

fruit[-c(2,4),-1]

  상품명 가격 재고량 재고량.1 재고금액
1 Apple  500  5      2500     2500
3 Peach  300  7      2100     2100

In [290]:
fruit<-fruit[-5]

fruit$재고금액 <- fruit$가격*fruit$재고량; fruit

  번호 상품명 가격 재고량 재고금액
1 1    Apple  500  5      2500
2 2    Banana 400  2       800
3 3    Peach  300  7      2100
4 4    Berry  200  9      1800

In [293]:
fruit$원산지 <- c("한국","태국","한국","중국"); fruit

  번호 상품명 가격 재고량 재고금액 원산지
1 1    Apple  500  5      2500     한국
2 2    Banana 400  2       800     태국
3 3    Peach  300  7      2100     한국
4 4    Berry  200  9      1800     중국

# 외부 File 불러오기

In [22]:
#Sys.setlocale(category = "LC_ALL", locale = "ko_KR.UTF-8")
temp<-read.table("../Data/emp.txt",
                        header = T,
                        stringsAsFactors = F, 
                        fileEncoding = "utf-8")
temp
str(temp)

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

'data.frame':	3 obs. of  3 variables:
 $ 사번: int  101 201 301
 $ 이름: chr  "hong" "lee" "kim"
 $ 급여: int  150 250 300

In [28]:
csvEmp<- read.csv("../Data/emp2.csv",
                    header = F
                )
csvEmp
# 칼럼명을 사번, 이름, 급여로 변경하기
colnames(csvEmp)<-c("사번", "이름","급여")
csvEmp

  V1  V2     V3
1 101 홍길동 150
2 102 이순신 450
3 103 강감찬 500
4 104 유관순 350
5 105 김유신 400

  사번 이름   급여
1 101  홍길동 150
2 102  이순신 450
3 103  강감찬 500
4 104  유관순 350
5 105  김유신 400

In [33]:
# 칼럼이 몇개?
ncol(csvEmp)
# Row  가 몇개
nrow(csvEmp)

[1] 3

[1] 5

In [36]:
df <- data.frame(x= 1:5,
                 y= seq(2,10,2),
                 z= c('a','b','c','d','e'))
df

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

In [40]:
# x,y, 컬럼의 합계 구하기
sum(df$x); sum(df$y)

[1] 15

[1] 30

### 함수를 부르는 함수

In [44]:
# 열방향
apply(df[,1:2],2,sum)
apply(df[,1:2],2,mean)
apply(df[,1:2],2,sd)

 x  y
15 30

x y
3 6

       x        y
1.581139 3.162278

In [46]:
# 행방향
apply(df[,1:2],1, sum)

[1]  3  6  9 12 15

In [50]:
df$Hap <- apply(df[,1:2],1,sum); df

  x y  z Hap
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

In [58]:
#부분집합
sub<-subset(df,x >= 3 & y>=8) # 조건검색 select
nrow(subset(df,x>=3& y>=8))
sub
# x 이 3이상이고 Y이 8 이상인 데이터중 x와 y 의 합계는?
sub$Hap
#apply(sub[,1:2],1,sum+mean)
help(apply)

[1] 2

  x y  z Hap
4 4  8 d 12
5 5 10 e 15

[1] 12 15

apply                   package:base                   R Documentation

_A_p_p_l_y _F_u_n_c_t_i_o_n_s _O_v_e_r _A_r_r_a_y _M_a_r_g_i_n_s

_D_e_s_c_r_i_p_t_i_o_n:

     Returns a vector or array or list of values obtained by applying a
     function to margins of an array or matrix.

_U_s_a_g_e:

     apply(X, MARGIN, FUN, ..., simplify = TRUE)

_A_r_g_u_m_e_n_t_s:

       X: an array, including a matrix.

  MARGIN: a vector giving the subscripts which the function will be
          applied over.  E.g., for a matrix ‘1’ indicates rows, ‘2’
          indicates columns, ‘c(1, 2)’ indicates rows and columns.
          Where ‘X’ has named dimnames, it can be a character vector
          selecting dimension names.

     FUN: the function to be applied: see ‘Details’.  In the case of
          functions like ‘+’, ‘%*%’, etc., the function name must
          be backquoted or quoted.

     ...: optional arguments to ‘FUN’.

simplify: a logical indicating whether results should be simplified if
          possible.

_D_e_t_a_i_l_s:

     If ‘X’ is not an array but an object of a class with a non-null
     ‘dim’ value (such as a data frame), ‘apply’ attempts to coerce
     it to an array via ‘as.matrix’ if it is two-dimensional (e.g., a
     data frame) or via ‘as.array’.

     ‘FUN’ is found by a call to ‘match.fun’ and typically is
     either a function or a symbol (e.g., a backquoted name) or a
     character string specifying a function to be searched for from the
     environment of the call to ‘apply’.

     Arguments in ‘...’ cannot have the same name as any of the other
     arguments, and care may be needed to avoid partial matching to
     ‘MARGIN’ or ‘FUN’.  In general-purpose code it is good
     practice to name the first three arguments if ‘...’ is passed
     through: this both avoids partial matching to ‘MARGIN’ or
     ‘FUN’ and ensures that a sensible error message is given if
     arguments named ‘X’, ‘MARGIN’ or ‘FUN’ are passed through
     ‘...’.

_V_a_l_u_e:

     If each call to ‘FUN’ returns a vector of length ‘n’, and
     ‘simplify’ is ‘TRUE’, then ‘apply’ returns an array of
     dimension ‘c(n, dim(X)[MARGIN])’ if ‘n > 1’.  If ‘n’ equals
     ‘1’, ‘apply’ returns a vector if ‘MARGIN’ has length 1 and
     an array of dimension ‘dim(X)[MARGIN]’ otherwise.  If ‘n’ is
     ‘0’, the result has length 0 but not necessarily the ‘correct’
     dimension.

     If the calls to ‘FUN’ return vectors of different lengths, or if
     ‘simplify’ is ‘FALSE’, ‘apply’ returns a list of length
     ‘prod(dim(X)[MARGIN])’ with ‘dim’ set to ‘MARGIN’ if this
     has length greater than one.

     In all cases the result is coerced by ‘as.vector’ to one of the
     basic vector types before the dimensions are set, so that (for
     example) factor results will be coerced to a character array.

_R_e_f_e_r_e_n_c_e_s:

     Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S
     Language_.  Wadsworth & Brooks/Cole.

_S_e_e _A_l_s_o:

     ‘lapply’ and there, ‘simplify2array’; ‘tapply’, and
     convenience functions ‘sweep’ and ‘aggregate’.

_E_x_a_m_p_l_e_s:

     ## Compute row and column sums for a matrix:
     x <- cbind(x1 = 3, x2 = c(4:1, 2:5))
     dimnames(x)[[1]] <- letters[1:8]
     apply(x, 2, mean, trim = .2)
     col.sums <- apply(x, 2, sum)
     row.sums <- apply(x, 1, sum)
     rbind(cbind(x, Rtot = row.sums), Ctot = c(col.sums, sum(col.sums)))

     stopifnot( apply(x, 2, is.vector))

     ## Sort the columns of a matrix
     apply(x, 2, sort)

     ## keeping named dimnames
     names(dimnames(x)) <- c("row", "col")
     x3 <- array(x, dim = c(dim(x),3),
                 dimnames = c(dimnames(x), list(C = paste0("cop.",1:3))))
     identical(x,  apply( x,  2,  identity))
     identical(x3, apply(x3, 2:3, identity))

     ##- function with extra args:
     cave <- function(x, c1, c2) c(mean(x[c1]), mean(x[c2]))
     apply(x, 1, cave,  c1 = "x1", c2 = c("x1","x2"))

     ma <- matrix(c(1:4, 1, 6:8), nrow = 2)
     ma
     apply(ma, 1, table)  #--> a list of length 2
     apply(ma, 1, stats::quantile) # 5 x n matrix with rownames

     stopifnot(dim(ma) == dim(apply(ma, 1:2, sum)))

     ## Example with different lengths for each call
     z <- array(1:24, dim = 2:4)
     zseq <- apply(z, 1:2, function(x) seq_len(max(x)))
     zseq         ## a 2 x 3 matrix
     typeof(zseq) ## list
     dim(zseq) ## 2 3
     zseq[1,]
     apply(z, 3, function(x) seq_len(max(x)))
     # a list without a dim attribute

## 두개 이상의 데이터프레임 병합하기

In [62]:
# case 1: Key값이 되는 칼럼이 동일하고 data의 갯수도 동일한 경우 
height <- data.frame(id= 1:3,
                    height = c(160,170,180))
height
weight <- data.frame(ad= c(2,1,3),
                    weight =c(70,60,80)
                    )
weight                    
merge(height,weight)   ## 뒤죽박죽도 알아서 맞춰서 병합해줌.

  id height
1 1  160
2 2  170
3 3  180

  id weight
1 2  70
2 1  60
3 3  80

  id height weight
1 1  160    60
2 2  170    70
3 3  180    80

In [65]:
# case 1: Key값이 되는 칼럼이 동일하고 data의 갯수 동일하지  경우 
height <- data.frame(id= 1:3,
                    height = c(160,170,180))
height
weight <- data.frame(ad= c(2,1,3),
                    weight =c(70,60)
                    )
weight                    
merge(height,weight)   ## 뒤죽박죽도 알아서 맞춰서 병합해줌.

  id height
1 1  160
2 2  170
3 3  180

ERROR: Error in data.frame(ad = c(2, 1, 3), weight = c(70, 60)): arguments imply differing number of rows: 3, 2

In [67]:
#key 를 정의하기 : data가 적은쪽의 기준으로 merge gksek. 
merge(x =height,y =weight, by.x = "id", by.y ="ad", all.x = T)

  id height weight
1 1  160    60
2 2  170    70
3 3  180    80

### 행렬함수로 행렬(matri) 만들기

In [71]:
#matrix(1:10)
matrix(1:10, nrow= 2)
t(matrix(1:9, nrow=3, ncol=3))

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

## List
- 성격이 다른 자료구조로 생성이 가능하다. 
- key 와 value값으로 구성된다. => dictionary
- dataframe 한줄 이라고 생각
- 앱에서 ai 한테 물어보는방식이 list 가 편하다.

In [75]:
member <- list(name= "홍길동",address<-"서울", tel<- "010-7722-1592", pay =300)
member
member$name
member$birth <-"1988-10-27"
member

$name
[1] "홍길동"

[[2]]
[1] "서울"

[[3]]
[1] "010-7722-1592"

$pay
[1] 300

[1] "홍길동"

$name
[1] "홍길동"

[[2]]
[1] "서울"

[[3]]
[1] "010-7722-1592"

$pay
[1] 300

$birth
[1] "1988-10-27"

---
# 문자열 처리
수집한 데이터의 필요한 문자열을 자르고, 교체하고, 추출하는 작업 
## stringr package 사용
- str_length() : 문자열 길이
- str_c() : 문자열 연결
- str_sub() : 범위에 해당하는 문자열을 생성
- str_split() : 구분자를 기준으로 문자열을 분리하여 부분 생성
- str_replace() : 기존 문자열을 특정 문자열로 변환
- str_extract() : 문자열에서 특정 문자열 패턴의 첫번째 문자열 추출( 1개만 가져옴)
- str_extract_all() : 
- str_locate() : 문자열에서 특정 문자열 패턴의 첫번째 위치 추출
- str_locate_all() :

In [79]:
# 패키지 불러오기 패키지 불러오기는 노트당 한번! 설치는 pc 당 한번
#install.packages("stringr")
library(stringr)

In [115]:
string <- "hongkildong105youbee1002kwanwoo25장비2005"

In [86]:
# a ~z 까지의 영문자가 연속으로 3개 발견된 문자열 추출
str_extract_all(string, "[a-z]{3}") #list 임. 
# a ~z 까지의 영문자가 연속으로 3개~5개 발견된 문자열 추출
str_extract_all(string, "[a-z]{3,5}") #list 임.

[[1]]
[1] "hon" "gki" "ldo" "you" "bee" "kwa" "nwo"

[[1]]
[1] "hongk" "ildon" "yoube" "kwanw"

In [98]:
# 영문만 추출하기
aaa<- str_extract_all(string, "[a-z]{1,}")
aaa
unlist(aaa)[1]
string
bbb<-str_extract_all(string, "[0-9]{1,}")
typeof(as.numeric(unlist(bbb)))

[[1]]
[1] "hongkildong" "youbee"      "kwanwoo"

[1] "hongkildong"

[1] "hongkildong105youbee1002kwanwoo25장비2005"

[1] "double"

In [109]:
# 한글만 추출하기
as.character(unlist(str_extract_all(string, "[가-힣]{1,}")))

[1] "장비"

In [113]:
#영문자를 제외한 문자 출력하기 
str_extract_all(string, "[^a-z]{1,}")

[[1]]
[1] "105"          "1002"         "25ㄱ장비2005"

In [117]:
# 문자열 길이 구하기 
str_length(string)

[1] 39

In [119]:
# 문자열 위치 구하기 특정 문자 앞에 있는 데이터만 가지고 작업하고싶을때 등등,.,
str_locate(string,"장비")

     start end
[1,] 34    35

In [125]:
# 부분 문자열 추출
str_sub(string,1,str_locate(string,"장비")[1]-1)

[1] "hongkildong105youbee1002kwanwoo25"

In [127]:
str_to_upper(string)

[1] "HONGKILDONG105YOUBEE1002KWANWOO25장비2005"

In [131]:
#문자열 교체하기
string <- str_replace(string,"hongkildong105","홍길동35,")
string <- str_replace(string,"youbee1002", "유비45,")
string <- str_replace(string,"kwanwoo25", "관우25,")
string <- str_replace(string, "2005","20")
string

[1] "홍길동35,유비45,관우25,장비20"

In [133]:
# 문자열 분리하기
unlist(str_split(string ,","))

[1] "홍길동35" "유비45"   "관우25"   "장비20"

In [149]:
# 천단위 쉬표가 들어간 문자열을 숫자로 변경하기
price <- "123,456,879"
as.numeric(unlist(str_replace_all(price,",","")))
as.numeric(str_remove_all(price,","))

[1] 123456879

[1] 123456879

In [155]:
#NA 를 변경하기
temp <- c(1,2,NA,4)
temp
str_replace_na(temp)
as.numeric(str_replace_all(str_replace_na(temp), 'NA','99'))

[1]  1  2 NA  4

[1] "1"  "2"  "NA" "4"

[1]  1  2 99  4

In [158]:
# NA 를 제거하기 
temp <- c(1,2,NA, 4)
temp
na.omit(temp)

[1]  1  2 NA  4

[1] 1 2 4
attr(,"na.action")
[1] 3
attr(,"class")
[1] "omit"