In [1]:
options(warn = -1)
options(repr.plot.width=15, repr.plot.height=9) 
Sys.setlocale(category = "LC_ALL", locale = "ko_KR.UTF-8")
x <- 10
y <-runif(1) *100

if(x>y){
    cat("x 가 큽니다.")
}else if(x<y){
    cat("y 가 큽니다.")
}else{
    cat("x 와 y 가 동일합니다.")
}

[1] "ko_KR.UTF-8/ko_KR.UTF-8/ko_KR.UTF-8/C/ko_KR.UTF-8/C"

y <U+AC00> <U+D07D><U+B2C8><U+B2E4>.

In [2]:
# 홀수 짝수 구분
a<- 8
# 8은 짝수입니다. 
if(a%%2==0){
    cat(a,"은 짝수입니다",sep="")
}else{
    cat(a,"은 홀수입니다",sep="")
}

8은 짝수입니다

In [3]:
# 홀짝수 구분
a<- c(1,2,3)
ifelse(a%%2 ==0, paste(a,"는 짝수"),paste(a,"는 홀수")) ## ifelse 함수, 삼항연산자와 같다.

[1] "1 는 홀수" "2 는 짝수" "3 는 홀수"

# readline

In [11]:
num1 <-as.integer(readline("숫자를 입력하세요: "))
num1

[1] 12

In [21]:
# 사용자로 부터 data 입력바당 입력한 숫자가 홀수인지짝수인지 판단하여 출력하기
# EX 결과물 ) 입력하신 숫자는 12 이고 짝수입니다. 
input_num<- as.integer(readline()) ; # 숫자받기
ifelse(input_num%%2==0, 
    paste("입력하신 숫자는 ",input_num, "이고  짝수입니다. "),
    paste("입력하신 숫자는 ",input_num, "이고  홀수입니다. "))

[1] "입력하신 숫자는  123 이고  홀수입니다. "

In [32]:
# excel.csv 를 읽어서 excel 이라는 벡터 변수에 할당하기 
excel <-(read.csv("../Data/excel.csv"))
class(excel)
head(excel); tail(excel); str(excel) ;sum(is.na(excel)); summary(excel)

[1] "data.frame"

  q1 q2 q3 q4 q5
1 2  4  4  2  2
2 1  2  2  2  2
3 2  3  4  3  3
4 3  5  5  3  3
5 3  2  4  4  4
6 4  3  3  4  2

    q1 q2 q3 q4 q5
397 2  3  5  2  4
398 4  3  3  2  4
399 2  4  4  2  3
400 2  2  5  2  4
401 2  3  4  2  4
402 2  2  4  2  4

'data.frame':	402 obs. of  5 variables:
 $ q1: int  2 1 2 3 3 4 3 4 4 4 ...
 $ q2: int  4 2 3 5 2 3 4 2 4 2 ...
 $ q3: int  4 2 4 5 4 3 4 4 5 4 ...
 $ q4: int  2 2 3 3 4 4 2 4 3 2 ...
 $ q5: int  2 2 3 3 4 2 2 4 4 3 ...

[1] 0

       q1              q2              q3              q4             q5
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.00   Min.   :1.000
 1st Qu.:2.000   1st Qu.:2.000   1st Qu.:3.000   1st Qu.:2.00   1st Qu.:3.000
 Median :3.000   Median :3.000   Median :4.000   Median :2.00   Median :4.000
 Mean   :2.734   Mean   :2.908   Mean   :3.622   Mean   :2.51   Mean   :3.386
 3rd Qu.:3.000   3rd Qu.:4.000   3rd Qu.:4.000   3rd Qu.:3.00   3rd Qu.:4.000
 Max.   :5.000   Max.   :5.000   Max.   :5.000   Max.   :4.00   Max.   :5.000

In [40]:
# q1 칼럼에서 Data가 3보다 크거나 같으면 data의 제곱근을 구하고 아니면 원래 Data를 출력하기
excel_q1 <- excel$q1 ;
 #ifelse(excel_q1>=3 , sqrt(excel_q1),excel_q1)
# 위의 결과를 q6라는 컬럼을 만들어  DataSet에 추가하기
excel$q6 <-as.double(ifelse(excel_q1>=3 ,sqrt(excel_q1),excel_q1))
excel

    q1  q2  q3  q4  q5  q6
1   2   4   4   2   2   2.000000
2   1   2   2   2   2   1.000000
3   2   3   4   3   3   2.000000
4   3   5   5   3   3   1.732051
5   3   2   4   4   4   1.732051
6   4   3   3   4   2   2.000000
7   3   4   4   2   2   1.732051
8   4   2   4   4   4   2.000000
9   4   4   5   3   4   2.000000
10  4   2   4   2   3   2.000000
11  4   4   4   3   3   2.000000
12  3   1   4   3   4   1.732051
13  3   2   4   3   4   1.732051
14  3   4   3   4   5   1.732051
15  1   3   2   2   3   1.000000
16  3   4   2   3   4   1.732051
17  3   2   1   1   3   1.732051
18  3   3   3   4   3   1.732051
19  2   2   4   3   2   2.000000
20  3   4   4   3   4   1.732051
21  3   4   5   2   4   1.732051
22  4   3   4   2   3   2.000000
23  2   2   2   1   4   2.000000
24  2   3   4   3   5   2.000000
25  3   4   4   2   4   1.732051
26  4   2   3   3   2   2.000000
27  4   4   4   4   3   2.000000
28  4   4   5   3   3   2.000000
29  3   2   2   3   4   1.732051
30  3   2   4   3   5   1.732051
... ... ... ... ... ... ...
373 4   4   3   4   5   2.000000
374 2   3   4   3   3   2.000000
375 2   4   5   3   5   2.000000
376 3   3   4   2   3   1.732051
377 3   2   2   2   3   1.732051
378 3   2   4   2   3   1.732051
379 2   4   5   2   2   2.000000
380 1   2   3   1   3   1.000000
381 3   1   2   3   5   1.732051
382 4   3   3   3   5   2.000000
383 3   4   4   3   3   1.732051
384 3   4   3   4   3   1.732051
385 2   2   2   2   4   2.000000
386 4   3   5   4   2   2.000000
387 3   2   3   3   4   1.732051
388 2   4   4   3   2   2.000000
389 3   2   2   1   4   1.732051
390 3   2   4   2   4   1.732051
391 1   2   2   2   2   1.000000
392 3   2   4   3   4   1.732051
393 2   4   4   3   4   2.000000
394 4   3   5   3   2   2.000000
395 3   1   2   1   1   1.732051
396 3   4   4   3   2   1.732051
397 2   3   5   2   4   2.000000
398 4   3   3   2   4   2.000000
399 2   4   4   2   3   2.000000
400 2   2   5   2   4   2.000000
401 2   3   4   2   4   2.000000
402 2   2   4   2   4   2.000000

    q1  q2  q3  q4  q5
1   2   4   4   2   2
2   1   2   2   2   2
3   2   3   4   3   3
4   3   5   5   3   3
5   3   2   4   4   4
6   4   3   3   4   2
7   3   4   4   2   2
8   4   2   4   4   4
9   4   4   5   3   4
10  4   2   4   2   3
11  4   4   4   3   3
12  3   1   4   3   4
13  3   2   4   3   4
14  3   4   3   4   5
15  1   3   2   2   3
16  3   4   2   3   4
17  3   2   1   1   3
18  3   3   3   4   3
19  2   2   4   3   2
20  3   4   4   3   4
21  3   4   5   2   4
22  4   3   4   2   3
23  2   2   2   1   4
24  2   3   4   3   5
25  3   4   4   2   4
26  4   2   3   3   2
27  4   4   4   4   3
28  4   4   5   3   3
29  3   2   2   3   4
30  3   2   4   3   5
... ... ... ... ... ...
373 4   4   3   4   5
374 2   3   4   3   3
375 2   4   5   3   5
376 3   3   4   2   3
377 3   2   2   2   3
378 3   2   4   2   3
379 2   4   5   2   2
380 1   2   3   1   3
381 3   1   2   3   5
382 4   3   3   3   5
383 3   4   4   3   3
384 3   4   3   4   3
385 2   2   2   2   4
386 4   3   5   4   2
387 3   2   3   3   4
388 2   4   4   3   2
389 3   2   2   1   4
390 3   2   4   2   4
391 1   2   2   2   2
392 3   2   4   3   4
393 2   4   4   3   4
394 4   3   5   3   2
395 3   1   2   1   1
396 3   4   4   3   2
397 2   3   5   2   4
398 4   3   3   2   4
399 2   4   4   2   3
400 2   2   5   2   4
401 2   3   4   2   4
402 2   2   4   2   4